{% extends 'Layout.twig' %}

{% block content %}

    {% if test.status.code == '1' %}
        {% set status_label = 'success' %}
    {% elseif test.status.code == '4' %}
        {% set status_label = 'info' %}
    {% elseif test.status.code == '3' %}
        {% set status_label = 'warning' %}
    {% elseif test.status.code == '0' %}
        {% set status_label = 'important' %}
    {% endif %}

    <h1 class="lead pull-left" style="margin-top:0">
        {% if project.provider %}
            <i class="icon-{{ project.provider }}"></i>
        {% endif %}
        {{ project.short_repo }}
    </h1>
    <div class="pull-right hidden-phone">
        <h4 style="margin-top:5px;"><small>#{{ test._id }}</small></h4>
    </div>
    <div style="clear:both"></div>


    <table class="table">
        <thead>
            <tr>
                <th>Status</th>
                <th>Commit</th>
                <th class="hidden-phone">Author</th>
                <th>Branch</th>
                <th class="hidden-phone">Started</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span id="status" class="label label-{{ status_label }}">
                        {{ test.status.message }}
                    </span>
                </td>
                <td id="commit-hash">
                    ...
                </td>
                <td id="commit-author" class="hidden-phone">
                    ...
                </td>
                <td id="branch">
                    ...
                </td>
                <td class="hidden-phone">
                    <span class="timeago" title="{{ test.started.sec|date('c') }}">
                        {{ test.started.sec|date('jS M Y') }}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

    <div id="logs">
        <span class="none">There are no logs for this test yet</span>
    </div>

    <script>
        var build = setInterval(function() {
            criterion.test.getStatus("{{ test._id }}")
        }, 1000);
        $(document).ready(function() {
            criterion.test.getStatus("{{ test._id }}");
            $('.output-log').on('click', function(){
                $(this).next().toggle();
            });
        });
    </script>

{% endblock %}
