{% extends 'Layout.twig' %}

{% block content %}

    {% if test.status.code == '1' %}
        {% set status_label = 'success' %}
    {% elseif test.status.code == '4' %}
        {% set status_label = 'info' %}
    {% elseif test.status.code == '3' %}
        {% set status_label = 'warning' %}
    {% elseif test.status.code == '0' %}
        {% set status_label = 'important' %}
    {% endif %}

    <ul class="breadcrumb">
        <li>
            <a href="/project/{{ project._id }}">
                "{{ project.repo }}"
            </a> <span class="divider">/</span>
        </li>
        <li class="active">
            {{ test._id }}
        </li>
    </ul>

    <table class="table">
        <thead>
            <tr>
                <th>Status</th>
                <th>Commit</th>
                <th>Author</th>
                <th>Branch</th>
                <th>Started</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span id="status" class="label label-{{ status_label }}">
                        {{ test.status.message }}
                    </span>
                </td>
                <td id="commit-hash">
                    ...
                </td>
                <td id="commit-author">
                    ...
                </td>
                <td id="branch">
                    ...
                </td>
                <td>
                    <span class="timeago" title="{{ test.started.sec|date('c') }}">
                        {{ test.started.sec|date('jS M Y') }}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

    <div id="logs">
        <span class="none">There are no logs for this test yet</span>
    </div>

    <script>
        var build = setInterval(function() {
            criterion.test.getStatus("{{ test._id }}")
        }, 1000);
        $(document).ready(function() {
            criterion.test.getStatus("{{ test._id }}");
            $('.output-log').on('click', function(){
                $(this).next().toggle();
            });
        });
    </script>

{% endblock %}
