{% extends 'Layout.twig' %}

{% block content %}

    <h1 class="lead">{{ project.repo }}
        {% if test.status.code == '1' %}
            {% set status_label = 'success' %}
        {% elseif test.status.code == '4' %}
            {% set status_label = 'info' %}
        {% elseif test.status.code == '3' %}
            {% set status_label = 'warning' %}
        {% elseif test.status.code == '0' %}
            {% set status_label = 'important' %}
        {% endif %}
        <span id="status" class="label label-{{ status_label }}">
            {{ test.status.message }}
        </span>
    </h1>

    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>Commit</th>
                <th>Author</th>
                <th>Branch</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="commit-hash">
                    ...
                </td>
                <td id="commit-author">
                    ...
                </td>
                <td id="branch">
                    ...
                </td>
                <td>
                    <span class="timeago" title="{{ test.started.sec|date('c') }}">
                        {{ test.started.sec|date('jS M Y') }}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

    <div id="logs">
        {% for item in log %}
            <div>
                <a href="javascript:void(0)" class="output-log">
                    {% if item.response == 0 %}
                        <p class="alert alert-success">{{ item.command }}</p>
                    {% else %}
                        <p class="alert alert-danger">{{ item.command }}</p>
                    {% endif %}
                </a>

                <div class="well well-small {% if item.response == 0 %} hide {% endif %}">
                    {% if item.output %}
                        {{ item.output|nl2br }}
                    {% else %}
                        There was no output from this command.
                    {% endif %}
                </div>

            </div>
        {% else %}
            <p class="alert alert-info">There are no logs for this test yet</p>
        {% endfor %}
    </div>

    <script>
        var build = setInterval(function() {
            criterion.test.getStatus("{{ test._id }}")
        }, 1000);
        $(document).ready(function() {
            criterion.test.getStatus("{{ test._id }}");
            $('.output-log').on('click', function(){
                $(this).next().toggle();
            });
        });


    </script>

{% endblock %}
