{% extends 'Layout.twig' %}

{% block content %}

    {% if project.status.code == '0' %}
        {% set project_class = 'important' %}
    {% elseif project.status.code == '1' %}
        {% set project_class = 'success' %}
    {% elseif project.status.code == '2' %}
        {% set project_class = 'warning' %}
    {% endif %}

    <h1 class="lead">{{ project.repo }} <span class="label label-{{ project_class }}">{{ project.status.message }}</span> </h1>

    <form method="post" action="" class="well">
        <fieldset>
            <label>Repo</label>
            <input name="repo" class="span11" type="text" value="{{ project.repo }}">
            <label>Public SSH Key</label>
            <textarea class="span11" rows="5" name="ssh_key.public">{{ project.ssh_key.public }}</textarea>
            <label>Private SSH Key</label>
            <textarea class="span11" rows="5" name="ssh_key.private">{{ project.ssh_key.private }}</textarea>
        </fieldset>
        <button type="submit" class="btn btn-small btn-primary">Save</button>
    </form>

    <h1 class="lead">
        Tests
        <a href="/project/run/{{ project._id }}?redirect=1" class="btn btn-success btn-small">Run Now</a>
    </h1>
    {% if tests|length > 0 %}

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Commit</th>
                    <th>Author</th>
                    <th>Branch</th>
                    <th>Time</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for test in tests %}

                    {% if test.status.code == '0' %}
                        {% set status_class = 'error' %}
                    {% elseif test.status.code == '1' %}
                        {% set status_class = 'success' %}
                    {% elseif test.status.code == '3' %}
                        {% set status_class = 'warning' %}
                    {% elseif test.status.code == '4' %}
                        {% set status_class = 'info' %}
                    {% endif %}

                    <tr class="{{status_class}}" >
                        <td>
                            <a href="/test/{{ test._id }}">
                                {{ test._id }}
                            </a>
                        </td>
                        <td>{% if test.commit is defined %} {{test.commit.hash.short}}  {% else %} N/A {% endif %}</td>
                        <td>{% if test.commit is defined %} {{test.commit.author.name}}  {% else %} N/A {% endif %}</td>
                        <td>{% if test.commit is defined %} {{test.branch}}  {% else %} N/A {% endif %}</td>
                        <td>{{ test.started.sec|date('H:i - jS F Y') }}</td>
                        <td>
                            <a class="btn btn-danger" href="/test/delete/{{ test._id }}">
                                <i class="icon-remove"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="alert alert-danger">There are no tests for this project yet.</p>
    {% endif %}


{% endblock %}
