{% extends 'Layout.twig' %}

{% block content %}

    {% if failing > 0 %}
        <p class="alert alert-danger"><b>Warning:</b> {{ failing }} of your projects are failing.</p>
    {% endif %}

    {% if projects|length > 0 %}

        <table class="table">
            <thead>
                <tr>
                    <th>Repository</th>
                    <th class="hidden-phone">Last Run</th>
                    <th>Test</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}

                    {% if project.status.code == '0' %}
                        {% set project_class = 'error' %}
                    {% elseif project.status.code == '1' %}
                        {% set project_class = 'success' %}
                    {% elseif project.status.code == '2' %}
                        {% set project_class = 'warning' %}
                    {% endif %}

                    <tr class="{{ project_class }}" >
                        <td>
                            {% if project.provider %}
                                <i class="icon-{{ project.provider }}"></i>
                            {% endif %}
                            <a href="/project/{{ project._id }}">
                                {{ project.short_repo }}
                            </a>
                        </td>
                        <td class="hidden-phone">
                            <span class="timeago" title="{{ project.last_run.sec|date('c') }}">
                                {{ project.last_run.sec|date('jS M Y') }}
                            </span>
                        </td>
                        <td width="16%">
                            <a class="btn btn-success btn-mini" href="/project/run/{{ project._id }}">
                                <i class="icon-play"></i> <span class="hidden-phone">Test</span>
                            </a>
                            <a class="btn btn-danger btn-mini hidden-phone delete_project" data-id="{{ project._id }}" >
                                <i class="icon-remove"></i> Delete
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="alert alert-danger">There are no projects yet.</p>
    {% endif %}


{% endblock %}
