{% extends 'Layout.twig' %}

{% block content %}

    <script>
        $(document).ready(function() {
            $('#show_ssh_keys').on('click', function() {
                $(this).parent().hide();
                $('#ssh_keys').show();
            });
        });
    </script>

    {% if project.status.code == '0' %}
        {% set project_class = 'important' %}
    {% elseif project.status.code == '1' %}
        {% set project_class = 'success' %}
    {% elseif project.status.code == '2' %}
        {% set project_class = 'warning' %}
    {% endif %}

    <h1 class="lead">{{ project.repo }} <span class="label label-{{ project_class }}">{{ project.status.message }}</span> </h1>

    <form method="post" action="" class="well">
        <fieldset>
            <label>Repo</label>
            <input name="repo" class="span11" type="text" value="{{ project.repo }}">
            <p>
                <a id="show_ssh_keys" href="javascript:void(0)">View SSH Keys</a>
            </p>
            <div class="hide" id="ssh_keys">
                <label>Public SSH Key</label>
                <textarea class="span11" rows="5" name="ssh_key.public">{{ project.ssh_key.public }}</textarea>
                <label>Private SSH Key</label>
                <textarea class="span11" rows="5" name="ssh_key.private">{{ project.ssh_key.private }}</textarea>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-small btn-primary">Save</button>
    </form>

    <p class="pull-right">
        <a href="/project/run/{{ project._id }}" class="btn btn-success btn-mini">
            <i class="icon-play"></i> Run Test
        </a>
    </p>
    <div style="clear:both"></div>

    {% if tests|length > 0 %}

        <table class="table">
            <thead>
                <tr>
                    <th>Commit</th>
                    <th>Author</th>
                    <th>Branch</th>
                    <th>Time</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for test in tests %}

                    {% if test.status.code == '0' %}
                        {% set status_class = 'error' %}
                    {% elseif test.status.code == '1' %}
                        {% set status_class = 'success' %}
                    {% elseif test.status.code == '3' %}
                        {% set status_class = 'warning' %}
                    {% elseif test.status.code == '4' %}
                        {% set status_class = 'info' %}
                    {% endif %}

                    <tr class="{{status_class}}" >
                        <td>
                            {% if test.commit is defined %}
                                {% if test.commit.url %}
                                    <a href="{{ test.commit.url }}">
                                        {{ test.commit.hash.short }}
                                    </a>
                                {% else %}
                                    {{test.commit.hash.short}}
                                {% endif %}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>{% if test.commit is defined %} {{test.commit.author.name}}  {% else %} N/A {% endif %}</td>
                        <td>
                            {% if test.commit is defined %}
                                {% if test.commit.url %}
                                    <a href="{{ test.commit.branch.url }}">
                                        {{test.commit.branch.name}}
                                    </a>
                                {% else %}
                                    {{test.commit.branch.name}}
                                {% endif %}

                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>
                            <span class="timeago" title="{{ test.started.sec|date('c') }}">
                                {{ test.started.sec|date('jS M Y') }}
                            </span>
                        </td>
                        <td width="16%">
                            <a class="btn btn-danger btn-mini" href="/test/delete/{{ test._id }}">
                                <i class="icon-remove"></i> Delete
                            </a>

                            <a class="btn btn-success btn-mini" href="/test/{{ test._id }}">
                                <i class="icon-zoom-in"></i> View
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="alert alert-danger">There are no tests for this project yet.</p>
    {% endif %}


{% endblock %}
