{% extends 'Layout.twig' %}

{% block content %}

    <h1 class="lead pull-left" style="margin-top:0">
        {% if project.provider %}
            <i class="icon-{{ project.provider }}"></i>
        {% endif %}
        {{ project.short_repo }}
    </h1>
    {% if app.user and app.user.isAdmin %}
        <div class="pull-right">
            <a href="/project/run/{{ project._id }}" class="btn btn-success btn-mini">
                <i class="icon-play"></i> Run Test
            </a>

            <a class="btn btn-primary btn-mini" id="edit_project" href="javascript::void(0)">
                <i class="icon-cog"></i> Edit Project
            </a>
        </div>
    {% endif %}
    <div style="clear:both"></div>

    {% if app.user and app.user.isAdmin %}

        <div class="row-fluid" id="edit_project_row">
            <ul class="nav span3 nav-tabs nav-stacked project_nav">
                <li>
                    <a class="active" href="#" data-content="project_settings">Settings</a>
                </li>
                <li>
                    <a data-content="project_ssh_keys" href="#">SSH Keys</a>
                </li>
                <li>
                    <a data-content="project_env" href="#">Enviroment Variables</a>
                </li>
            </ul>
            <div class="span9">

                <form method="post" action="">
                    <fieldset>

                        <div class="project_content" id="project_settings">
                            <label>Repository</label>
                            <input name="repo" class="span12" type="text" value="{{ project.repo }}">

                            <label for="email">Notifications Email</label>
                            <input id="email" name="email" class="span12" type="email" value="{{ project.email }}">

                            <label>Github Token</label>
                            <input name="github_token" class="span12" type="text" value="{{ project.github.token }}">

                        </div>

                        <div class="hide project_content" id="project_ssh_keys">
                            <label>Public SSH Key</label>
                            <textarea class="span12" rows="5" name="ssh_key.public">{{ project.ssh_key.public }}</textarea>
                            <label>Private SSH Key</label>
                            <textarea class="span12" rows="5" name="ssh_key.private">{{ project.ssh_key.private }}</textarea>
                        </div>

                        <div class="hide project_content" id="project_env">
                            <label>Enviroment Variables</label>

                            {% if project.enviroment_variables is defined and project.enviroment_variables|length > 0 %}
                                {% for variable in project.enviroment_variables %}
                                    <input value="{{ variable }}" type="text" class="span12" name="enviroment_variables[]" />
                                {% endfor %}
                            {% endif %}

                            <input placeholder="APP=testing" type="text" class="span12" name="enviroment_variables[]" />

                        </div>

                    </fieldset>
                    <button type="submit" class="btn btn-small btn-info">Save</button>
                </form>
            </div>
        </div>


            <hr />
    {% endif %}

    {% if tests|length > 0 %}

        <table class="table">
            <thead>
                <tr>
                    <th class="hidden-phone">Author</th>
                    <th>Commit</th>
                    <th>Branch</th>
                    <th class="hidden-phone">Last Run</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for test in tests %}

                    {% if test.status.code == '0' %}
                        {% set status_class = 'error' %}
                    {% elseif test.status.code == '1' %}
                        {% set status_class = 'success' %}
                    {% elseif test.status.code == '3' %}
                        {% set status_class = 'warning' %}
                    {% elseif test.status.code == '4' %}
                        {% set status_class = 'info' %}
                    {% endif %}

                    <tr class="{{status_class}}" >
                        <td class="hidden-phone">{% if test.commit is defined %} {{test.commit.author.name}}  {% else %} N/A {% endif %}</td>
                        <td>
                            {% if test.commit is defined %}
                                {% if test.commit.url %}
                                    <a href="{{ test.commit.url }}">
                                        {{ test.commit.hash.short }}
                                    </a>
                                {% else %}
                                    {{test.commit.hash.short}}
                                {% endif %}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>
                            {% if test.commit is defined %}
                                {% if test.commit.url %}
                                    <a href="{{ test.commit.branch.url }}">
                                        {{test.commit.branch.name}}
                                    </a>
                                {% else %}
                                    {{test.commit.branch.name}}
                                {% endif %}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td class="hidden-phone">
                            <span class="timeago" title="{{ test.started.sec|date('c') }}">
                                {{ test.started.sec|date('jS M Y') }}
                            </span>
                        </td>

                        <td width="16%" class="actions">
                            {% if app.user and app.user.isAdmin %}
                                <a class="btn btn-danger btn-mini hidden-phone" href="/test/delete/{{ test._id }}">
                                    <i class="icon-remove"></i> Delete
                                </a>
                            {% endif %}
                            <a class="btn btn-success btn-mini" href="/test/{{ test._id }}">
                                <i class="icon-zoom-in"></i> <span class="hidden-phone">View</span>
                            </a>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="alert alert-danger">There are no tests for this project yet.</p>
    {% endif %}


{% endblock %}
