{% extends 'Layout.twig' %}

{% block content %}

    <h1 class="lead pull-left" style="margin-top:0">
        {% if project.provider %}
            <i class="icon-{{ project.provider }}"></i>
        {% endif %}
        {{ project.short_repo }}
    </h1>
    {% if app.user and app.user.isAdmin %}
        <div class="pull-right">
            <a href="/project/run/{{ project._id }}" class="btn btn-success btn-mini">
                <i class="icon-play"></i> Run Test
            </a>

            <a class="btn btn-primary btn-mini" id="edit_project" href="javascript::void(0)">
                <i class="icon-cog"></i> Edit Project
            </a>
        </div>
    {% endif %}
    <div style="clear:both"></div>

    {% if app.user and app.user.isAdmin %}


        <div class="row-fluid hide" id="edit_project_row">
            <form method="post" action="">
                <div id="editor" class="span12 project_config">{{ config }}</div>
                <textarea name="config" id="config" class="hide">{{ config }}</textarea>
                <small><b>CTRL/CMD + S</b> to save</small>
            </form>
            <hr />
        </div>

        <script src="/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
        <script>
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/tomorrow_night");
            editor.getSession().setMode("ace/mode/yaml");

            editor.commands.addCommand({
            name: 'save',
            bindKey: {win: 'Ctrl-S',  mac: 'Command-S'},
            exec: function(editor) {
                $('#config').val(editor.getValue());
                $('#config').parent().submit();
            }
        });
        </script>

    {% endif %}

    {% if tests|length > 0 %}

        <table class="table">
            <thead>
                <tr>
                    <th class="hidden-phone">Author</th>
                    <th>Commit</th>
                    <th>Branch</th>
                    <th class="hidden-phone">Last Run</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for test in tests %}

                    {% if test.status.code == '0' %}
                        {% set status_class = 'error' %}
                    {% elseif test.status.code == '1' %}
                        {% set status_class = 'success' %}
                    {% elseif test.status.code == '3' %}
                        {% set status_class = 'warning' %}
                    {% elseif test.status.code == '4' %}
                        {% set status_class = 'info' %}
                    {% endif %}

                    <tr class="{{status_class}}" >
                        <td class="hidden-phone">{% if test.commit is defined %} {{test.commit.author.name}}  {% else %} N/A {% endif %}</td>
                        <td>
                            {% if test.commit is defined %}
                                {% if test.commit.url %}
                                    <a href="{{ test.commit.url }}">
                                        {{ test.commit.hash.short }}
                                    </a>
                                {% else %}
                                    {{test.commit.hash.short}}
                                {% endif %}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>
                            {% if test.commit is defined %}
                                {% if test.commit.url %}
                                    <a href="{{ test.commit.branch.url }}">
                                        {{test.commit.branch.name}}
                                    </a>
                                {% else %}
                                    {{test.commit.branch.name}}
                                {% endif %}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td class="hidden-phone">
                            <span class="timeago" title="{{ test.started.sec|date('c') }}">
                                {{ test.started.sec|date('jS M Y') }}
                            </span>
                        </td>

                        <td width="16%" class="actions">
                            {% if app.user and app.user.isAdmin %}
                                <a class="btn btn-danger btn-mini hidden-phone" href="/test/delete/{{ test._id }}">
                                    <i class="icon-remove"></i> Delete
                                </a>
                            {% endif %}
                            <a class="btn btn-success btn-mini" href="/test/{{ test._id }}">
                                <i class="icon-zoom-in"></i> <span class="hidden-phone">View</span>
                            </a>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="alert alert-danger">There are no tests for this project yet.</p>
    {% endif %}


{% endblock %}
